* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.overflow-y-hidden{
  overflow: hidden;
}
.App{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
}